<nav>
  <div class="site-title">
    <a href="/">
      <h1>Amr Yassen Blog</h1>
    </a>
    <p>First Node.js Blog With Mongo DB</p>
  </div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New Blogg</a></li>
  </ul>
</nav>